/*========================== GENERAL ==========================*/

body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px
}

h2, h3, h4 {
	margin: 0;
}

/*========================== MDL ==========================*/

.mdl-layout__header-row {
	padding: 0 20px;
}

.mdl-dialog__title {
	padding: 16px 16px 0 16px;
}

.mdl-dialog__content {
	padding: 16px 20px 0 20px;	
}

.mdl-dialog__actions {
	padding: 16px;	
}

/*========================== HEADER ==========================*/

.header-logo {
	width: 36px;
	height: 24px;
	margin: 0 8px 0 32px;
}

.header-logo-mm {
	height: 56px;
	width: auto;
}

/*========================== MENU ==========================*/

.menu-logo-cartong {
	height: 48px;
	width: 71px;
	margin: 12px  0 12px 80px;
}

.menu-logo-mm {
	height: 60px;
	width: 124px;
}

/*========================== DRAWER ==========================*/

#drawer-nav {
	text-align: center;
}

#drawer-new-task {
	width: 180px;
	margin: auto;
	margin-top: 16px;
}

#drawer-nav .mdl-navigation__link {
	color: rgb(66,66,66);
	text-transform: uppercase;
	background-color: rgba(224, 224, 224, 0.5);
	border-bottom: 1px solid rgba(224, 224, 224, 1); 
}

#drawer-nav .mdl-navigation__link:hover {
	background-color: rgba(224, 224, 224, 1);	
}

/*========================== DASHBOARDS MENU ==========================*/

#new-task-item:hover {
	background-color: white;
}

#task-menu li {
	border-bottom: 1px solid rgba(224, 224, 224, 1); 
}

#task-menu li:last-child {
	margin-top: 12px;
	border-bottom: none; 
}

#task-menu a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: rgb(66,66,66);
	text-transform: uppercase;
	text-decoration:none;
}

/*========================== TASK ==========================*/

#refresh {
	position: relative;
	bottom: 4px;
	margin-left: 16px;
}

.header-grid h3 small {
	font-size: 0.8em;
}

.task-id-head {
	font-size: 36px;
}

.task-section .header-grid {
	background-color: #f7f7f7;
	padding: 0;
}

.header-grid .mdl-cell {
	margin: 0;
}

.task-info {
	padding: 0px 16px 0px 16px;
}

.task-info p {
	display: inline-block;
	font-size: 16px;
	margin: 0;
}

.task-info-key {
	font-weight: bold;
}

.task-interval {
	padding: 24px 0 8px 0;
	font-size: 20px;
}

#task-progress-done, #task-progress-valid {
	display: inline-block;
	width: 100px;
	margin: 0 4px;
}

.task-name{
	padding: 4px;
	font-size: 32px;
}

.task-section {
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	margin: 16px; 
}

.task-section h2, h3 {
	background-color: #f7f7f7;
	padding: 16px 16px 8px 16px; 
}

.task-section h4 {
	font-size: 22px;
	padding: 0 0 8px 0;
	margin-bottom: 16px;
	border-bottom: 1px solid rgb(0,188,212);
}

.task-sub-section {
	background-color: #f7f7f7;
	padding: 16px;
	margin-bottom: 16px;
}

.major-info {
	font-size: 18px;
}

#overview-map {
	width: 100%;
	height: 300px;
}

#highway-map {
	width: 100%;
	height: 260px;	
}

#init-map {
	width: 0;
	height: 0;
}

/*========================== NEW TASK DIALOG ==========================*/

#new-task-dialog {
	padding: 0;
}

#new-task-dialog h3 {
	padding: 24px 16px 8px 16px;
	background-color: #f7f7f7;
}

#new-task-dialog h4 {
	margin: 0 0 -14px -4px;
}

#loading-dialog {
	width: 300px;
	border: none;
	padding: 20px 20px 20px 16px;
}

.two-digit-input {
	width: 20px;
}

.four-digit-input {
	width: 40px;
	margin: 0 20px 0 0;
}

.date-separation {
	position: relative;
	font-size: 18px;
	text-align: center;
	display: inline-block;
	width: 20px;
}

input:disabled {
	opacity: 0.5;
}

/*========================== LOADING DIALOG ==========================*/

#loading-message {
	font-size: 18px;
}

.loading-error {
	color: red;
}

#loading-close-button {
	float: right;
}

.hide-progress {
	display: none;
}

/*========================== RANKING ==========================*/

table#ranking-table {
	display: block;
	margin: auto;
	/*
	max-width: 100%;
	*/
	overflow: auto;	
}

table#ranking-table th {
	font-size: 16px;
}

table#ranking-table th, td {
	text-align: center;
}

/*========================== HELPERS ==========================*/

.hide {
	display: none;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@-moz-document url-prefix()
{
  .date-separation {
    bottom: 30px;
  }
}