doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CartONG | Mapathon
    link(rel='icon', type='image/png', href='./images/favicon.ico.png')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='./styles/material.css') 
    link(rel='stylesheet', type='text/css', href='./styles/bundle.css')
  body
    #layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header  
      header.mdl-layout__header
        .mdl-layout__header-row
          img.header-logo(src='./images/CartONG_logo.png',alt='CartONG logo')
          h1
            span.mdl-layout-title Mapathon Dashboard
          .mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            buton#task-menu-button.mdl-button.mdl-js-button Dashboards
            a.mdl-navigation__link(href='http://www.missingmaps.org/', target='_blank', title='Missing Maps')
              img.header-logo-mm(src='./images/mm_logo.png', alt='Missing Maps Project logo')
            // ul#task-menu.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='task-menu-button')
            ul#task-menu.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl(for='task-menu-button')
              //li.mdl-menu__item Some Action
              //li.mdl-menu__item.mdl-menu__item--full-bleed-divider Another Action
              li#new-task-item.mdl-menu__item 
                button#task-menu-new-task.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored New Dashboard    
      #drawer.mdl-layout__drawer
        //span.mdl-layout-title Mapathon
        .menu-header
          img.menu-logo-cartong(src='./images/CartONG_logo.png',alt='CartONG logo')
          //img.menu-logo-mm(src='./images/mm_logo.png', alt='Missing Maps Project logo')  
        nav#drawer-nav.mdl-navigation
          button#drawer-new-task.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored New Dashboard
      main.mdl-layout__content
        #task-container.page-content
    #init-map
    include loading-dialog.pug
    include new-task-dialog.pug            
    script(type='text/javascript', src='./scripts/app.min.js')
