dialog#loading-dialog
  p#loading-message
  #loading-progress.mdl-progress.mdl-js-progress  
  button#loading-close-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.hide(type='button') Close  