header {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
  overflow: auto;
  zoom: 1;
}

header h1 {
  display: inline-block;
  position: relative;
  bottom: 0.3rem;
  font-size: 3rem;
  margin: 0 0 0 1.5rem;
}

header img {
  display: inline-block;
  max-height: 5rem;
  width: auto;
}

img#cartong-logo {
  margin-top: 1rem;
  max-height: 3rem;
  width: auto;
}

img#mm-logo, img#hot-logo {
  float: right;
  margin-right: 1rem;
}

form#search-bar-form {
  margin: 1rem;  
  display: inline-block;
}

form#search-bar-form div {
  display: inline-block;
}

form#search-bar-form input, form#search-bar-form select {
  width: 16rem;
  margin: 0 1.5rem 0 1rem;
}

form#search-bar-form input#project-id-input {
  width: 10rem;
}

form#search-bar-form select {
  width: 16rem;
}

form#search-bar-form label {
  display: inline-block;
}

form#search-bar-form input[type="submit"] {
  padding: 0 16px;
  width: 8rem;
}