header {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
  overflow: auto;
  zoom: 1;
}

header h1 {
  display: inline-block;
  position: relative;
  bottom: 0.3rem;
  font-size: 3rem;
  margin: 0 0 0 1.5rem;
}

header img {
  display: inline-block;
  max-height: 5rem;
  width: auto;
}

img#cartong-logo {
  margin-top: 1rem;
  max-height: 3rem;
  width: auto;
}

img#github-logo, img#mm-logo, img#hot-logo {
  float: right;
  margin-right: 1rem;
}

form#search-bar-form {
  margin: 1rem;
  display: inline-block;
}

form#search-bar-form div,
#roads div ,
#buildings div,
#landuse div,
#waterways div {
  display: inline-block;
}

form#search-bar-form input,
form#search-bar-form select {
  width: 16rem;
  margin: 0 1.5rem 0 1rem;
}

#roads input,
#buildings input,
#landuse input,
#waterways input {
  width: 5rem;
}

form#search-bar-form input#project-id-input {
  width: 10rem;
}

form#search-bar-form select {
  width: 16rem;
}

form#search-bar-form label,
#roads label,
#buildings label,
#landuse label,
#waterways label {
  display: inline-block;
}

form#search-bar-form input[type="submit"] {
  padding: 0 16px;
  width: 8rem;
}

.task-box {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin: 16px;
}

h2
{
  font-size: 26px;
  font-weight: 800;
}

.task-box h2 {
  background-color: #f7f7f7;
  padding: 16px 16px 8px;
}


.task-box h4 {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}


.task-id-head {
  font-size: 36px;
}

.task-info p {
  margin: 0px;
  font-size: 16px;
  display:inline-block;
}

#task-progress-done, #task-progress-validated {
  margin: 10px 5px 0px;
}

div.task-grid {
  padding: 8px;
  display: flex;
}

.task-info {
  padding: 0px 16px;
}

.task-info-key {
  font-weight: 700;
}

.two-column-task-info {
  width: calc(50% - 32px);
}

.three-column-task-sub-section {
  width: calc(33.33% - 64px);
  float:left;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin: 16px;
}

.two-column-task-sub-section {
  width: calc(50% - 64px);
  float:left;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin: 16px;
}

.task-sub-section {
  background-color: #f7f7f7;
  padding: 16px;
  margin-bottom: 16px;
}

.task-sub-section p{
  margin: 0px;
  font-size: 16px;
  display:inline-block;
}
#overview-map {
  width: 100%;
  height: 300px;
}

#highway-map {
  width: 100%;
  height: 275px;
}

@media only screen and (max-width: 768px){
  .three-column-task-sub-section{
    width: calc(100% - 64px);
  }

  .two-column-task-info{
    width: calc(100% - 200px);
  }
}


.task-leaderboard h2 {
  background-color: #f7f7f7;
  padding: 16px 16px 8px;
}


.task-leaderboard h4 {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.task-box {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin: 16px;
}

.white {
  color: white;
}

.task-loading {
  text-align: center;
  margin-top: 2%;
}

.loader-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #088;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #088 transparent transparent transparent;
}
.loader-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#error
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: red;
}