/* HEADER */
.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
}

.header__title {
  bottom: 0.3rem;
  font-size: 3rem;
  margin: 0 0 0 1.5rem;
  line-height: inherit;
  width: 80%;
}

.header__image {
  max-height: 5rem;
  width: auto;
  margin-right: 1rem;
}

.header__image-cartong {
  margin-top: 1rem;
  max-height: 3rem;
  margin-right: unset;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 1060px;
  margin: 1rem;
}

.search-bar-field {
  display: flex;
  margin: 10px 10px 10px 10px;
  align-items: baseline;
  flex: 1 0 auto;
}

.label-input {
  margin-bottom: 0px;
  margin-right: 10px;
}

.input-date {
  max-width: 145px;
}

.input-project-id {
  max-width: 100px;
}

.input-submit {
  margin-left: 30px;
}

.server-selection {
  margin: 10px 20px;
  max-width: 160px;
}

/* LOADING PROJECT */
.task-loading {
  text-align: center;
  margin-top: 2%;
}

/* RING LOADER */
.loader-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgba(9, 122, 156, 0.829) transparent rgba(9, 122, 156, 0.829) transparent;
  animation: loader-ring 1.5s linear infinite;
}
@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ERROR */
.error-message
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

/* PROJECT DATA */
.project-header-container {
  margin: 0px 16px 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-header-container__title {
  background-color: #f7f7f7;
  padding: 16px 16px 8px;
  font-size: 26px;
  font-weight: 800;
}

.project-header-container__title-link {
  font-size: 36px;
}

.project-header-percentages-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 0px 0px 5px 10px;
}

.project-header-percentages-container__percentage {
  display:flex;
  align-items: baseline;
  width: calc(50% - 32px);
}
.project-header-percentages-container__percentage-text {
  font-size: 16px;
  font-weight: 700;
  margin: initial;
}

.project-header-percentages-container__percentage-progress {
  margin: 0px 5px;
}

.project-data-main-container {
  margin: 0px 16px 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-data-main-container__title {
  background-color: #f7f7f7;
  padding: 16px 16px 8px;
  font-size: 26px;
  font-weight: 800;
}

.project-data-sub-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

.project-overview-map {
  flex: 1 0 calc(33.3% - 96px);
  margin: 16px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-overview-map__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

#overview-map {
  width: 100%;
  height: 300px;
}

.project-highway-map {
  flex: 1 0 calc(33.3% - 96px);
  margin: 16px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-highway-map__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-highway-map-main-container {
  display: flex;
  flex-flow: row wrap;
}

.project-highway-map-main-container__label-input {
  display:flex;
  flex: 1 0 100%;
  align-items: baseline;
}

.project-highway-map-main-container__paragraph {
  margin-bottom: 0px;
}

#highway-map {
  width: 100%;
  height: 275px;
}

.project-data-built {
  flex: 1 0 calc(33.3% - 96px);
  margin: 16px;
}

.project-building-data-container {
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-building-data-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-building-data-container__label-input {
  display: flex;  
  align-items: baseline;
}

.project-building-data-container__paragraph {
  margin-bottom: 0px;
}

.project-landuse-data-container {
  margin: 16px 0px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-landuse-data-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-landuse-data-container__label-input {
  display: flex;  
  align-items: baseline;
}

.project-landuse-data-container__paragraph {
  margin-bottom: 0px;
}

.project-waterway-data-container {
  margin: 16px 0px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-waterway-data-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-waterway-data-container__label-input {
  display: flex;  
  align-items: baseline;
}

.project-waterway-data-container__paragraph {
  margin-bottom: 0px;
}

/* COLOR DISPLAY */
.color-display {
  height: 15px;
  width: 15px;
  border-width: 2px;
  border-style: solid;
  display:inline-block;
}

/* LEADERBOARD */
.project-leaderboard-container {
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.project-leaderboard-container__title {
  background-color: #f7f7f7;
  padding: 16px 16px 8px;
  margin-bottom: 0px;
  font-size: 26px;
  font-weight: 800;
}

.project-leaderboard-sub-container {
  display: flex;
  align-content: baseline;
  flex-flow: row nowrap;
}

.project-leaderboard-building-sub-container {
  flex: 1 0 content;
  align-self: baseline;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 16px 16px 0px;
  margin: 16px;
}

.project-leaderboard-building-sub-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-leaderboard-highway-sub-container {
  flex: 1 0 content;
  align-self: baseline;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 16px 16px 0px;
  margin: 16px;
}

.project-leaderboard-highway-sub-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-leaderboard-landuse-sub-container {
  flex: 1 0 content;
  align-self: baseline;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 16px 16px 0px;
  margin: 16px;
}

.project-leaderboard-landuse-sub-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-leaderboard-waterway-sub-container {
  flex: 1 0 content;
  align-self: baseline;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 16px 16px 0px;
  margin: 16px;
}

.project-leaderboard-waterway-sub-container__title {
  font-size: 22px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(0,188,212);
}

.project-leaderboard-no-data-container {
  display: flex;
  justify-content: center;
}

.project-leaderboard-no-data-container__paragraph {
  padding: 8px;
  margin-bottom: 0px;
}